{% load staticfiles i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html>
<head>
    <title>{% block page_title %}TITLE{% endblock %} - XTracker!!!</title>
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet"
              href="{% static "vendor/bootstrap/css/bootstrap-rtl.css" %}"/>
    <link rel="stylesheet"
          href="{% static "style.css" %}"/>
    {% else %}
        <link rel="stylesheet"
              href="{% static "vendor/bootstrap/css/bootstrap.css" %}"/>
    {% endif %}


</head>
</html>


<div class="container-fluid">

    <nav class="navbar">
        <a class="navbar-brand" href="{% url "expenses:list" %}">XTracker</a>
    </nav>

    {% block content %}
        CONTENT
    {% endblock %}
</div>

{% block page_scripts %}
{% endblock %}
