{% extends "base.html" %}
{% load humanize staticfiles %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}

    <h1>Expense #{{ object.id }}</h1>

    <ul>
        <li><b>{{ object.title }}</b></li>
        <li>Date: {{ object.date }}</li>
        <li>Amount: ${{ object.amount }}</li>
        <li>Description: <br/>
            {{ object.description|linebreaks }}
        </li>
    </ul>

    <h2>Comments</h2>

    <ul id="comments" class="list-group">
        <li class="list-group-item">
            <form id="comment-form" method="post">
                {% csrf_token %}

                {{ form}}

                <button id="send-form">Add Comment</button>
            </form>
        </li>
        {% for c in object.comments_by_date %}
            {% include "expenses/_comment.html" %}
        {% endfor %}

    </ul>

    <a href="{% url 'expenses:list' %}">Back To My Expenses</a>

{% endblock %}

{% block page_scripts %}
    <script src="{% static "vendor/jquery-3.2.1.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/comment.js" %}"></script>
{% endblock %}
