{% load humanize %}
<h1>Expense #{{ object.id }}</h1>

<ul>
    <li><b>{{ object.title }}</b></li>
    <li>Date: {{ object.date }}</li>
    <li>Amount: ${{ object.amount }}</li>
    <li>Description: <br/>
        {{ object.description|linebreaks }}
    </li>
</ul>

<h2>Comments</h2>

<ul>
    {% for c in object.comments.all %}
        <li>
            <b>[#{{ c.id }}]
                <span title="{{ c.created_at }}">{{ c.created_at|naturaltime }}</span>
            </b>:
            {{ c.content|linebreaks }}
        </li>
    {% endfor %}
    <li>
        <a href="{% url "expenses:create_comment" object.id %}">Add Comment...</a>
    </li>

</ul>


<a href="{% url "expenses:list" %}">Back To My Expenses</a>


