{% load humanize staticfiles %}
<h1>Expense #{{ object.id }}</h1>

<ul>
    <li><b>{{ object.title }}</b></li>
    <li>Date: {{ object.date }}</li>
    <li>Amount: ${{ object.amount }}</li>
    <li>Description: <br/>
        {{ object.description|linebreaks }}
    </li>
</ul>

<h2>Comments</h2>

<ul id="comments">
    <li>
{#        <form id="comment-form" action="{% url "expenses:create_comment" object.id %}" method="post" novalidate>#}
        <form id="comment-form" method="post">
            {% csrf_token %}

            {{ form.as_ul }}

            <button id="send-form">Add Comment</button>
        </form>
    </li>
    {% for c in object.comments_by_date %}
        {% include "expenses/_comment.html" %}
    {% endfor %}

</ul>

<a href="{% url "expenses:list" %}">Back To My Expenses</a>

<script src="{% static "vendor/jquery-3.2.1.js" %}"></script>
<script src="{% static "js/csrf.js" %}"></script>
<script src="{% static "js/comment.js" %}"></script>


