{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}

    <p>
        <a class="btn btn-primary float-right"
           href="{% url 'expenses:create' %}">{% trans "Add" %}...</a>
    </p>

    <h1>{% trans "My Expenses" %}</h1>


    <table class="table table-bordered table-hover" border="1" width="100%">
        <tr>
            <th>#</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Title" %}</th>
        </tr>
        {% for object in objects %}
            <tr>
                <td>#{{ object.id }}</td>
                <td>{{ object.date }}</td>
                <td>${{ object.amount }}</td>
                <td>
                    <a href="{% url 'expenses:detail' object.id %}">{{ object.title }}</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
