<h1>My Expenses</h1>

<p>
    <a href="{% url 'expenses:create' %}">Add...</a>
</p>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Title</th>
    </tr>
    {% for object in objects %}
        <tr>
            <td>#{{ object.id }}</td>
            <td>{{ object.date }}</td>
            <td>${{ object.amount }}</td>
            <td>
                <a href="{% url 'expenses:detail' object.id %}">{{ object.title }}</a>
            </td>
        </tr>
    {% endfor %}

</table>
